header{
  background-color:#F6CEE3;
  padding: 0px;
  text-align: center;
  color: white;
}
h1 {
  color: teal;
  font-family: georgia;
  font-size: 340%;
  text-align: center;
}
h2 {
  color: teal;
  font-family: georgia;
  font-size: 200%;
  text-align: center;
  margin-left: 0px;
}
p  {
  color: black;
  font-family: garamond;
  font-size: 200%;
  text-align: center;
}
div {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-right: 190px;
  margin-left: 190px;
  font-size: 140%;
  font-family: garamond;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0px;
  margin-right: 0px;
  border-style: solid;
  border-width: 2px;
  color: teal
}
footer {
  background-color:#F6CEE3;
  padding: 0px;
  text-align: center;
  color: white;
}
